.category {
  background-color: $light-gray;
}

// Specific CSS for your home-page
.page-container {
  height: 100vh;
  background-color: red;
  width: 100%;
  display: flex;
}

.left-column {
  height: 100%;
  width: 20%;
  background-color: #FFF;
}

.first-child {
  position: relative;
  width: 90%;
  border-radius: 8px;
  font-size: 21px;
  color: #132457;
  padding: 12px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .right-column {
    width: 100%;
  }
}
