.category {
  background-color: $light-gray;
}

.tag-multiple {

  border-color: white;
  color: $blue !important;
  background-color: white !important;
  border-color: none;
  padding-left: 0;
  border-top: none !important;
  box-shadow: 0 0 0;
  .add-btn {
    color: white;
  }


  }

