.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
}

.main {
  flex: 3.2;
  height: 100%;
}

.right-column {
  background-color: #f2f5f7;
  padding: 25px;
  color: $white;
}

.first-block {
  width: 100%;
  height: 100%;
  padding: 25px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #132457;
}

.side {
  background-color: #21377A;
  color: #FFFFFF;
  flex: 0.8;
  text-align: center;
}

.bottom{
  margin-top: 80px;
}

.logo{
  margin-top: 40px;
  width: 61%;
  height: auto;
}

.side p a {
  color: #FFFFFF;
  margin-top: 100px;
  margin: 15px;

}

.selected {
  background-color: #132457;
  color: #1FD4F2;
  text-align: center;
}
