<div class="footer">
  <div class="reseaux-sociaux">
    <ul class="list-inline">
      <li>
        <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
  <div class="pages">
    <ul class="list-inline">
      <li>
        <a href="#">Mentions légales</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
      <li>
        <a href="#">FAQ</a>
      </li>
    </ul>
  </div>
  <div class="copyright">
    <p>&copy;FileOn 2017</p>
  </div>
</div>
