<div class="op">
  <div class="button-upload">
    <button type="button" class="btn btn-success"><%= link_to "Upload", new_document_path %></button>
    <button type="button" class="btn btn-warning">Alert</button>
  </div>
</div>
