<div class="side hidden-xs">
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "Fileon.png" ,class:"logo" %>
  <% end %>
  <div class="bottom">
    <p><a href="/entree/">Upload</a></p>
    <p id=bottom class="selected"><a href="/poisson/">Database</a></p>
    <p><a href="/viande/">Transfers</a></p>
    <p><a href="/dessert/">Send</a></p>
  </div>
</div>
