  <div class="right-column">
    <div class="first-block text-center">
      <div class="first-child">Test</div>
      <div class="first-child">Test</div>
      <div class="first-child">Test</div>
      <div class="first-child">Test</div>
      <div class="first-child">Test</div>
      <div class="first-child">Test</div>
      <div class="first-child">Test</div>
    </div>
  </div>
