/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
.btn-fileon-alert{
  position: relative;
  .alert-pin{
    position: absolute;
    z-index: 10;
    top: -10px;
    right: -10px;
    color: white;
    background-color: red;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 20px;
    height: 20px;
  }
}
