.op{
  background: #FFF;
  border-top: 2px solid #F2F5F7;
  width : 100%;
}

.button-upload{
  margin-left: 50px;
  justify-content: space-around;
  padding: 10px;
  padding-left: 10px;
  border: 0 solid #979797;
}
